.container :global .ant-btn {
  padding: 16px 30px !important;
}
.imgRow {
  margin: 20px 0 25px;
  width: 340px;
  flex-wrap: wrap;
}

.card {
  width: 378px;
  height: 155px;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 32px;
  margin-top: 24px;
}

.center {
  text-align: center;
}

@media (max-width: 992px) {
  .card {
    width: 100%;
    display: block;
  }
  .approveBtn {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 414px) {
  .imgRow {
    width: 302px;
  }
}
